body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #0DA041 solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #0DA041 !important;
     font-weight: bold !important;
}

.login-btn {
     border: 2px solid #0DA041 !important;
     font-size: 10px !important;
}

.login-btn:hover {
     background: #0DA041 !important;
}

.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.license-text {
	margin-top: 0.3em !important;
	margin-right: 0.2em !important;
	margin-left: 0.2em !important;
	margin-bottom: 0.3em !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 8em !important;
    padding-bottom: 0.7em;
    font-size: 4em;
    color: #F9F9F9;
}