body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #0DA041 solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #0DA041 !important;
     font-weight: bold !important;
}

.login-btn {
     border: 2px solid #0DA041 !important;
     font-size: 10px !important;
}

.login-btn:hover {
     background: #0DA041 !important;
}

.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    margin-bottom: -10px
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 5em !important;
    padding-bottom: 0.4em;
    padding-left: 0.1em;
}

.text {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	padding-bottom: 0.2em;
	margin-bottom: -30px;
}

.under-apache-text {
	font-size: 0.75em;
	color: rgba(255, 255, 255, 0.4);
	padding-left: 5em !important;
	padding-right: 5em !important;
	padding-bottom: 0.4em;
	margin-bottom: 0.4em;
}

.license-strong-text {
	color: #0DA041 !important;
	text-decoration: none !important;
	font-weight: 800 !important;
}

.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.green-link-name {
    font-family: "Poppins" !important;
    color: #0DA041 !important;
}

.green-link-name:hover {
    transform: scale(1.05) !important;
    color: #0DA041 !important;
    text-decoration: none !important;
}